<div class="container">
  <h1 class="mt-4 text-center">Voir et créer des sélections</h1>
  <div class="text-center mb-3">
    <%= link_to 'Créer nouvelle sélection', new_selection_path, class: "btn btn-primary rounded" %>
  </div>
    <h2 class="text-center">Mes restaurants préférés</h2>

  <div class="row">
    <% @selections&.each do |selection| %>
    <div class="col-sm-6 mt-2">
      <div class="card card-selection">
        <div class="card-body">
          <h5 class="card-title"><%= selection.name %>t</h5>
          <p class="card-text">Date: <%= selection.date.strftime("%d/%m/%y") %></p>
          <p class="card-text">Heure: <%= selection.date.strftime("%H:%M") %></p>
          <p class="card-text">Nombre de restaurants : <%= selection.restaurants.count %></p>
          <%selection.restaurants.each do |restaurant|  %>
            <p><%=restaurant.name %></p>
          <%end %>

          <div class="row">
            <div class="col-4">
              <%= link_to(selection_path(selection)) do %>
                  <button class="mb-1 btn btn-primary">Voir ma liste</button>
              <% end %>
            </div>
            <div class="col-4">
              <%= link_to(results_path(selection_id: selection.id)) do %>
                  <button class="mb-1 btn btn-secondary">Ajouter des restaux</button>
              <% end %>
            </div>
            <div class="col-4">
              <%= link_to "Supprimer",
                              selection_path(selection),
                              method: :delete,
                              data: { confirm: "Êtes-vous sûr ?" },
                              class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
