<div class="container">
  <h1 class="mt-4 text-center">Voir et créer des sélections</h1>
  <div class="text-center mb-3">
  <%= link_to 'Créer nouvelle sélection', new_selection_path, class: "btn btn-primary rounded" %>
  </div>
    <h2 class="text-center">Mes sélections</h2>
      <% @selections&.each do |selection| %>
        <div class="wrapper-selections container">
            <p>Titre: <%= selection.name %> </p>
            <p>Date: <%= selection.date.strftime("%d/%m/%y %H:%M") %> </p>
            <p>Heure: <%= selection.date.strftime("%H:%M") %> </p>
            <p>Nombre de restaurants selectionnés <%= selection.restaurants.count %></p>
            <%= link_to(selection_path(selection)) do %>
              <button class=" mb-1 btn btn-secondary"> Voir la sélection</button>
            <% end %>
            <div>
              <%= link_to "Supprimer #{selection.name}",
                  selection_path(selection),
                  method: :delete,
                  data: { confirm: "Êtes-vous sûr ?" },
                  class: "btn btn-danger" %>
            </div>
        </div>
      <% end %>
</div>
