
<div class="container">
  <h1>Voir mes sélections, et créer des sélections<br>
  </h1>

  <%= link_to 'Créer nouvelle sélection', new_selection_path, class: "btn btn-primary rounded" %>

  <div>
  <h2>Mes sélections</h2>

      <% @selections&.each do |selection| %>
              <%= link_to(selection_path(selection)) do %>
      <div class="wrapper-selections container">

            <div>
                <%= selection.name %> <%= selection.date.strftime('%d/%m/%y %H:%M') %></li>
              <% end %>
            </div>
            <div>
              Nombre de restaurants selectionnés <%= selection.restaurants.count %>
            </div>
            <div>
              <%= link_to "Supprimer #{selection.name}",
                  selection_path(selection),
                  method: :delete,
                  data: { confirm: "Êtes-vous sûr ?" },
                  class: "btn btn-danger" %>
            </div>


      </div>
      <% end %>


  </div>
</div>
