<div class="container" data-controller="send-emails" data-send-emails-selection-value="<%= @selection.id %>">
  <div class="mt-3" >
      <%= link_to "<-- Retourner à la liste des sélections", selections_path, class: "btn btn-primary" %>
  </div>
  <div>
  <%= @selection.name%>
  <%= @selection.date%>
  </div>
  <div>
    <h2 class="text-center">Restaurants selectionnés : </h2>
    <div class="row justify-content-around">
      <% if @selection.restaurants.blank? %>
        <p class="text-center"> Vous n'avez pas encore choisi de restaurants</p>
        <%= link_to "Ajouter des restaurants à la selection", results_path(selection_id: @selection.id), class: "btn btn-primary mt-2 mb-2" %>
      <%else%>
        <%= link_to "Ajouter des restaurants à la selection", results_path(selection_id: @selection.id), class: "btn btn-primary mt-2 mb-2" %>
        <% @selection.restaurants.each do |restaurant| %>
          <div class="card card-restaurant" style="width: 18rem;margin-bottom:20px;">
            <img class="card-img-top card-image" src=<%= restaurant.image_url %> alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= restaurant.name %></h5>
              <p class="card-text">Prix: <%= restaurant.price %></p>
              <p class="card-text">Note: <%= restaurant.rating %></p>
              <p>vote: <%= restaurant.score %></p>
              <%= link_to "Vote +1 ",
                          restaurant_score_path(restaurant, selection_id: @selection.id, vote: 'increment'),
                          method: :put,
                          data: { confirm: "Êtes-vous sûr ?" },
                          class: "mt-1 btn btn-secondary" %>
              <%= link_to "Vote -1 ",
                          restaurant_score_path(restaurant, selection_id: @selection.id, vote: 'decrement'),
                          method: :put,
                          data: { confirm: "Êtes-vous sûr ?" },
                          class: "mt-1 btn btn-secondary" %>

              <a href="<%= restaurant.url %>" target="blank" class="mt-1 btn btn-primary  mb-1">En savoir plus</a>
              <%= link_to "Supprimer #{restaurant.name}",
                          restaurant_path(restaurant, selection_id: @selection.id),
                          method: :delete,
                          data: { confirm: "Êtes-vous sûr ?" },
                          class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="text-center" id="guests">
    <h2>Invités </h2>
      <div class="guests-list">
          <% @selection.guests.each do |guest| %>
            <p  id="guest-<%= guest.id %>"><%= guest.name %> <%= guest.email %></p>
            <p data-send-emails-target="email"><%= guest.email %></p>
            <%= link_to "Delete", guest_path(guest, selection_id: @selection.id),
                        method: :delete, remote: true, class: "btn btn-danger mb-3" %>
          <% end %>
        <div class="text-center">
          <button class="my-2 btn btn-secondary" data-action="send-emails#sendEmails">Envoyer les invitations</button>
        </div>
      </div>

      <% if @selection.guests.blank? %>
        Commencer à ajouter des invités à la sélection <%= @selection.name %>
        <%= simple_form_for([@selection, @guest], remote: true) do |f| %>
          <%= f.input :name, label: 'Nom' %>
          <%= f.input :email, label: 'Email' %>
          <%= f.button :submit, "Ajouter un invité", class: "mt-2 btn btn-secondary" %>
        <% end %>
      <% else %>
      <div class="mt-3 guests-list">
        <h2>Ajouter des invités</h2>
          <%= simple_form_for([@selection, @guest], remote: true) do |f| %>
          <%= f.input :name, label: 'Nom' %>
          <%= f.input :email, label: 'Email' %>
          <%= f.button :submit, "Ajouter un invité", class: "my-2 btn btn-secondary" %>
        <% end %>
      </div>
      <% end %>
  </div>

<div>
