<%= @selection.id %>
<%= @selection.user_id %>
<%= @selection.name %>

<div class="container">
  <div class="row">
      <%= link_to "Retourner à la liste des sélections", selections_path %>
      <%= link_to "Trouver et ajouter des restaurants à la selection", results_path(selection_id: @selection.id) %>

  </div>
</div>

<div>
  <h2>Restaurants selectionnés</h2>
  Restaurant card
  score vote restaurant
  <div class="row justify-content-around">
    <% @selection.restaurants.each do |restaurant| %>
      <div class="card " style="width: 18rem;margin-bottom:20px;">
        <img class="card-img-top card-image" src=<%= restaurant.image_url %> alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <p class="card-text">Prix: <%= restaurant.price %></p>
          <p class="card-text">Note: <%= restaurant.rating %></p>
          <a href="<%= restaurant.url %>" target="blank" class="btn btn-primary">En savoir plus</a>
          <p>score</p>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div>
  <h2>Invités 1 : nom</h2>
  invité
</div>
