<div class="container" data-controller="send-emails" data-send-emails-selection-value="<%= @selection.id %>">
  <div class="row" >
      <%= link_to "Retourner à la liste des sélections", selections_path, class: "btn btn-primary" %>
      <%= link_to "Ajouter des restaurants à la selection", results_path(selection_id: @selection.id), class: "btn btn-primary mt-2 mb-2" %>
  </div>
  <div>
    <h2 class="text-center">Restaurants selectionnés : </h2>
    <div class="row justify-content-around" data-controller="vote">
      <% @selection.restaurants.each do |restaurant| %>
        <div class="card card-restaurant" style="width: 18rem;margin-bottom:20px;">
          <img class="card-img-top card-image" src=<%= restaurant.image_url %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= restaurant.name %></h5>
            <p class="card-text">Prix: <%= restaurant.price %></p>
            <p class="card-text">Note: <%= restaurant.rating %></p>
            <p>vote: <%= restaurant.score %></p>
            <%= link_to "Vote +1 ",
                        restaurant_score_path(restaurant, selection_id: @selection.id, vote: 'increment'),
                        method: :put,
                        data: { confirm: "Êtes-vous sûr ?" },
                        class: "mt-1 btn btn-secondary" %>
            <%= link_to "Vote -1 ",
                        restaurant_score_path(restaurant, selection_id: @selection.id, vote: 'decrement'),
                        method: :put,
                        data: { confirm: "Êtes-vous sûr ?" },
                        class: "mt-1 btn btn-secondary" %>

            <a href="<%= restaurant.url %>" target="blank" class="mt-1 btn btn-primary  mb-1">En savoir plus</a>

            <%= link_to "Supprimer #{restaurant.name}",
                        restaurant_path(restaurant, selection_id: @selection.id),
                        method: :delete,
                        data: { confirm: "Êtes-vous sûr ?" },
                        class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div >

    <div class="text-center" id="guests">
    <h2>Invités </h2>
      <% if @selection.guests.blank? %>
        Commencer à ajouter des invités à la sélection <%= @selection.name %>
        <%= simple_form_for([@selection, @guest], remote: true) do |f| %>

          <%= f.input :name, label: 'Nom', label_html: { class: 'red' }%>
          <%= f.input :email, label: 'Email' %>
          <%= f.button :submit, "Ajouter un invité", class: "mt-2" %>
        <% end %>
      <% else %>
          <%= simple_form_for([@selection, @guest], remote: true) do |f| %>
          <%= f.input :name, label: 'Nom' %>
          <%= f.input :email, label: 'Email' %>
          <%= f.button :submit, "Ajouter un invité", class: "mt-2" %>
        <% end %>

        <div class="guests-list">
        <% @selection.guests.each do |guest| %>
          <p  id="guest-<%= guest.id %>"><%= guest.name %> <%= guest.email %></p>
          <p data-send-emails-target="email"><%= guest.email %></p>
          <%= link_to "Delete", guest_path(guest, selection_id: @selection.id), method: :delete, remote: true %>
        <% end %>
        </div>
      <% end %>
    </div>
      <button class="mb-5" data-action="send-emails#sendEmails">Envoyer les invitations</button>
    <div>
</div>
